@import 'utilities.css';
:root{
--primary: rgb(255,215,0);
--bgGrey: rgb(128,128,128);
--GreyGrey: rgb(93,85,85);
--white: rgb(250, 250, 250);
--Green: rgb(0, 59, 50);
--bgLight: rgb(197, 149, 149);
--secondary: #D8D8D8;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}
header{
background-color: var(--Green);
text-align: right;
margin-bottom: 3.5rem;
clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}
header nav .left a{
color: var(--white);
text-decoration: none;
margin-right: 2rem;
text-transform: uppercase;
transition: all .2s ease;
}
header nav .left a:hover{
color: var(--primary);
}
header nav {
padding: 2rem 0;
}
header nav .logo{
margin-right: 3rem;
}

body{
    h3{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
        }
    background-color: var(--bgGrey);
    font-family: 'Poppins', sans-serif;
}
.container{
max-width: 1152px;
padding: 0 15px;
margin: 0 auto;
}
.hero{
background-color: var(--bgGrey);
padding-top: 2rem;
padding-bottom: 3rem;
}
.hero .left img{
width: 400px;
}
.hero .right {
color: var(--white);
margin-top: -7rem;
}
.hero .right h6{
font-size: 1.6rem;
color: var(--primary);
margin-bottom: 0.5rem;
}
.hero .right h1{
font-size: 4rem;
font-weight: 100;
line-height: 1.2;
margin-bottom: 2rem;
}
.hero .right h1 span{
color: var(--primary);
}
.hero .right p{
line-height: 1.9;
margin-bottom: 2rem; 
margin-right: 2rem;  
}

section{
    color: var(--white);
    padding: 6rem;
    }
    section.about{
        color: var(--white);
        background-color: var(--bgGrey);
        h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    }
}
    section.about h1 span{
    color: var(--primary);
    }
    section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    }
    section.about p{
        color: var(--white);
    font-family: 'Lato', sans-serif;
    line-height: 1.9rem;
    margin-bottom: 2rem;
    }
    

    section.skills {
        color: var(--white);
        background-color: var(--bgGrey);}

        .skills-head{
            font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 0.5rem;
        color:  var(--primary);
        }
        .skills-head + p{
        color: var(--white);
        font-family:  'Poppins', sans-serif;
        margin-bottom: 1rem;
        text-align: center;
        margin-bottom: 6rem;
        font-weight: 400;
        }
        
        section.contact {
            h1 {
                font-size: 40px;
            }
            color: var(--white);
            background-color: var(--bgGrey);
            h1 span{
            color: var(--primary); }
        }

            section.contact .socials{
                display: flex;
                }
                section.contact .socials a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                margin-right: 0.8rem;
                border-radius: 50%;
                }
                section.contact .socials a:hover{
                background: var(--primary);
                }

        footer {
            margin-top: 5rem;
            background-color: var(--Green);
        }


    